In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings

warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('Helpdesk Sample Emails - Full Set.tsv','\t')

In [3]:
data[data['Email Body'].isnull()==True]

    Target Category Email Body
265      Networking        NaN

In [4]:
data

      Target Category                                         Email Body
0    Desktop Hardware  Hey IT support team - my monitor is not turnin...
1    Desktop Software  Hey - I just got a new laptop and I need some ...
2          Networking  IT Support team - my wireless internet keeps g...
3      Account Access  Hey -  we just got a new team member on the ma...
4    General Question  Hey how do I delete my internet cookies? I saw...
..                ...                                                ...
261        Networking  I have a vendor coming in to the office on Thu...
262        Networking  My laptop keeps losing wifi connection while I...
263        Networking  I just got another workstation and need an add...
264        Networking  I'm having issues with the VPN. My machine wil...
265        Networking                                                NaN

[266 rows x 2 columns]

In [5]:
data['Target Category'].value_counts()

Desktop Software    76
Account Access      61
Desktop Hardware    49
Networking          40
General Question    40
Name: Target Category, dtype: int64

In [6]:
corpus = []
for i in range(len(data['Email Body'])):
    a = re.sub('[^a-zA-Z0-9]',' ',data['Email Body'][i])
    a = a.lower()
    a = a.split()
    a = []

NameError: name 're' is not defined

NameError: name 'nltk' is not defined